{
    "rules": {
        "no-console": [ 0 ],
        "no-prototype-builtins": [ 0 ],
        "no-unused-vars": [ "error", { "vars": "all", "args": "none" } ]
    },
    "env": {
        "mocha": true
    }
}
