.DS_Store
/node_modules
.gobble*
cache
dist
dist-build
_actual
_actual.js
coverage
.commithash
.idea
.eslintcache
test/_tmp
test/hooks/tmp
test/tmp
test/typescript/typings
perf/
.nyc_output/
.github_token
.temp
docs/.vitepress/graphs/*.mmd
*.tsbuildinfo
target
*.node
/wasm/*
!/wasm/*.d.ts
/wasm-node/
